:root {
    --transition-fast: .2s;

    --ui-theme-primary: #4f6ef7;
    --ui-theme-secondary: #1c2447;
    --ui-theme-tertiary: #eeeeee;
    --ui-theme-positive: #00ccff;
    --ui-theme-negative: #ff3c00;
    --ui-theme-special: #fffb00;

    --ui-minimap-opacity: 0.9;
    --ui-minimap-full-opacity: 0.95;

    --ui-backdrop-filter: none;

    //--ui-radius-normal: 12px;

    /*--ui-theme-primary: #661166;
    --ui-theme-secondary: #110911;*/
}