@use "common/engine/main.scss" as main;
@use "../components/text.scss";
@use "./gameOver.scss";
@use "./inventory.scss";
@use "./mobile.scss";
@use "./game-device.scss";
@use "./editor.scss";
#game {
    user-select: none;
    --webkit-user-select: none;
    position: fixed;
    touch-action: none;

    position: absolute;
    top: 0px;
    left: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    height: 100%;
}
#game-canvas{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    &:focus {
        outline: none !important;
        border: none !important;
    }
}
#boost-bar-container,
#health-bar-container{
    width: 100%;
    display: block;
    align-items: center;
    transform: translateY(-100%),translateX(-100%);
    @include main.large_screen {
        font-size: 16px;
    }
    @include main.medium_screen {
        font-size: 13px;
    }
    @include main.small_screen {
        font-size: 10px;
    }
    @include main.tiny_screen {
        font-size: 7px;
    }
}
#health-bar-container {
    height: 50px;

    #health-bar,
    #health-bar-basic-heal,
    #health-bar-animation {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 4px;
    }
    #health-bar-basic-heal{
        width: 75%;

        border-right: 1px solid #fff3;
        background:
            repeating-linear-gradient(
                45deg,
                rgba(255,255,255,0.15) 0 1px,
                transparent 2px 16px
            ),
            repeating-linear-gradient(
                -45deg,
                rgba(255,255,255,0.10) 0 1px,
                transparent 2px 16px
            );
    }

    #health-bar {
        background: linear-gradient(90deg, #fff,#dfdfdf);
        transition: width ease-in-out 0.2s;
    }

    #health-bar-animation {
        background: #ff000066;
        transition: width ease-out 2s;
    }

    #health-bar-amount {
        position: absolute;
        font-style: italic;
        top:50%;
        left: 103%;
        transform: translateY(-50%);
    }
    @include main.large_screen{
        height: 40px;
    }
    @include main.medium_screen{
        height: 30px;
    }
    @include main.small_screen{
        height: 20px;
    }
    @include main.tiny_screen{
        height: 10px;
    }
}
#boost-bar-container {
    height: 20px;
    #boost-bar {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        height: 100%;
        width: 0%;
        transition: width ease-in-out 0.2s;
    }
    #boost-bar-amount {
        position: absolute;
        font-style: italic;
        top:50%;
        left: 103%;
        transform: translateY(-50%);
    }
    @include main.large_screen{
        height: 16px;
    }
    @include main.medium_screen{
        height: 12px;
    }
    @include main.small_screen{
        height: 9px;
    }
    @include main.tiny_screen{
        height: 5px;
    }
}
#bottom-left-container{
    pointer-events: none;
    position: absolute;
    left: 10px;
    bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 410px;
    color: var(--ui-theme-tertiary);

    .ui-panel{
        position: relative;
        background: var(--ui-panel-background);
        box-shadow: var(--ui-panel-box-shadow);
        font-size: 20px;
        font-family: "Russo-One", serif;
        border-radius: 4px;
    }

    #action-info{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        span{
            position: static;
            transform: none;
        }
    }
    #hand-info{
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        span{
            position: static;
            transform: none;
        }
        img{
            position: static;
            width: 28px;
            margin-left: 5px;
            height: auto;
            pointer-events: all;
        }
    }
    @include main.large_screen {
        width: 330px;
        gap: 7px;
        left: 7px;
        bottom: 7px;
        .ui-panel{
            font-size: 15px;
        }
        #hand-info{
            span{
                font-size: 16px;
            }
            img{
                width: 22px;
            }
        }
        #action-info{
            span{
                font-size: 15px;
            }
        }
    }
    @include main.medium_screen {
        width: 240px;
        gap: 5px;
        left: 5px;
        bottom: 5px;
        .ui-panel{
            font-size: 10px;
        }
        #hand-info{
            span{
                font-size: 10px;
            }
            img{
                width: 14px;
            }
        }
        #action-info{
            span{
                font-size: 11px;
            }
        }
    }
    @include main.small_screen {
        width: 190px;
        gap: 5.5px;
        left: 5.5px;
        bottom: 5.5px;
        #hand-info{
            span{
                font-size: 10px;
            }
            img{
                width: 14px;
            }
        }
        #action-info{
            span{
                font-size: 9px;
            }
        }
    }
    @include main.tiny_screen {
        width: 110px;
        gap: 3px;
        left: 3px;
        bottom: 3px;
        #hand-info{
            span{
                font-size: 8px;
            }
            img{
                width: 11px;
            }
        }
        #action-info{
            span{
                font-size: 7px;
            }
        }
    }
}
#information-box-container{
    position: absolute;
    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    pointer-events: none;
}
#information-killbox,
#information-interaction{
    pointer-events: none;

    background: var(--ui-panel-background);
    box-shadow: var(--ui-panel-box-shadow);

    font-family: "Russo-One";
    width: fit-content;
    height: fit-content;

    padding: 12px 16px;
    border-radius: 4px;

    text-align: center;
}
#information-killbox{
    p{
        color: var(--ui-theme-primary);
    }
}
#help-gui{
    pointer-events: none;
    display: flex;
    position: absolute;
    left: 5px;
    top: 50%;
    flex-direction: column;
    transform: translateY(-50%);
    font-family: "Russo-One";
    font-size: 20px;
    @include main.small_screen{
        font-size: 10px;
    }
}
#debug-show{
    position: absolute;
    left: 5px;
    top: 40%;
}
#top-right-container{
    position: absolute;
    top:10px;
    right:10px;

    display: flex;
    flex-direction: row;
    gap:10px;

    @include main.large_screen {
        right: 7px;
        top: 7px;
    }
    @include main.medium_screen {
        right: 7px;
        top: 7px;
    }
    @include main.small_screen {
        right: 5px;
        top: 5px;
    }
}
#top-info-container{
    width: 17vw;
    display: flex;
    flex-direction: column;
    gap:10px;
}
#feed-container{
    @extend .span-text;
    font-size: 16px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20vw;
    .feed-message{
        background: var(--ui-panel-background);
        color: var(--ui-theme-tertiary);
        border-radius: 4px;
        padding: 3px;
        img{align-self: center}
    }
    .feed-message-good{
        color:var(--ui-theme-positive);
    }
    .feed-message-negative{
        color:var(--ui-theme-negative);
    }
    .badge-icon {
        width: 18px;
        margin-bottom: -3px;
        margin-left: 3px;
    }
    @include main.medium_screen {
        width: 220px;
        right: 200px;
        gap: 3px;
        .feed-message{
            font-size: 10px;
        }
    }
    @include main.small_screen {
        width: 150px;
        right: 150px;
        gap: 1px;
        .feed-message{
            font-size: 8px;
        }
    }
}
#additional-info{
    @extend .span-text-base;

    display:flex;
    flex-direction:row;
    gap:20px;

    padding:10px;

    background: var(--ui-panel-background);
    box-shadow: var(--ui-panel-box-shadow);

    font-size: 20px;
    pointer-events:none;

    >div{
        display:flex;
        align-items:center;
        gap:1px;
        min-height:24px;
    }
    img{
        width:24px;
        height:24px;
        flex-shrink:0;
    }
    #deadzone-info-state{
        margin-left:auto;
    }
    @include main.large_screen {
        padding: 7px;
        font-size: 15px;
        img{
            width:19px;
            height:19px;
        }
    }
    @include main.medium_screen {
        img{
            width:19px;
            height:19px;
        }
    }
    @include main.small_screen {
        padding: 3px;
        font-size: 10px;
        img{
            width:10px;
            height:10px;
        }
    }
}
#ui-map{
    height: 17vw;

    overflow:hidden;
    border-radius:2px;
    pointer-events:all;

    opacity: var(--ui-minimap-opacity);
    box-shadow: var(--ui-panel-box-shadow);

    &.fullscreen{
        position:fixed;

        left:50%;
        top:50%;
        width: 45vw;
        height: 45vw;
        transform: translate(-50%,-50%);

        border-radius:0;

        opacity: var(--ui-minimap-full-opacity);
        box-shadow: var(--ui-panel-box-shadow-big);
        border:var(--ui-panel-border);
    }
}
#leader-container{
    pointer-events: none;
    display: flex;
    align-items:center;
    font-family: "Russo-One";
    font-size: 15px;
    padding: 7px;

    color: var(--ui-theme-tertiary);
    background: var(--ui-panel-background);
    box-shadow: var(--ui-panel-box-shadow);
    #leader-container-icon{
        background-image: url("/assets/img/menu/icons/aim.svg");
        background-size: cover;
        width: 30px;
        height: 30px;
        left: 0px;
    }
    #leader-text{
        flex:1;
    }
    @include main.large_screen {
        font-size: 15px;
        padding: 8px;
        #leader-container-icon{
            width: 22px;
            height: 22px;
        }
    }
    @include main.medium_screen {
        font-size: 13px;
        padding: 6px;
        #leader-container-icon{
            width: 15px;
            height: 15px;
        }
    }
    @include main.small_screen {
        font-size: 10px;
        padding: 5px;
        #leader-container-icon{
            width: 10px;
            height: 10px;
        }
    }
}
#groups-info{
    position:absolute;
    left:10px;
    top:10px;

    display:flex;
    flex-direction:column;
    gap:8px;

    width:300px;

    .group-human{
        padding:8px;
        height: fit-content;


        background: var(--ui-panel-background);
        border:var(--ui-panel-border);

        display:flex;
        flex-direction:column;
    }

    .group-info{
        display:flex;
        align-items:center;
        gap:6px;

        span{
            font-family:"Russo-One";
            color:var(--ui-theme-tertiary);
        }
        .badge-icon {
            width: 20px;
            margin-bottom: -3px;
            margin-left: 3px;
        }
    }

    .member-color{
        width:14px;
        height:14px;
        border-radius:50%;
        background:#00ff00;
        flex-shrink:0;
    }

    .health-bar-container,
    .boost-bar-container{
        position:relative;
        width:100%;
        overflow:hidden;
        border-radius:3px;
    }
    .health-bar-bg,
    .boost-bar-bg{
        position:absolute;
        inset:0;
        background:#0008;
    }
    .health-bar,
    .boost-bar{
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        transition:width .15s linear;
    }

    .health-bar-container{
        height:15px;
        margin-top: 5px;
    }
    .health-bar{
        background: linear-gradient(90deg, #fff,#dfdfdf);
    }
    .boost-bar-container{
        height:7px;
        margin-top: 5px;
    }
}