@use "common/engine/main.scss";
@use "../components/text.scss";
#gameover-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    z-index: 100;
    #gameover-status-container{
        @extend .span-text-base;
        font-size: 20px;
        align-content: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    #gameover-main-message{
        font-family: "Russo-One";
        font-size: 70px;
        position: absolute;
        left: 0px;
        right: 0px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        #gameover-eliminator{
            font-size: 50px;
        }
        #gameover-eliminated{
            color: #e05;
        }
        #gameover-you-win{
            color: #fe3;
        }
    }
    #gameover-buttons{
        bottom: 0px;
        width: 100%;
        height: fit-content;
        background:linear-gradient(90deg, rgb(3, 21, 71),rgb(1, 4, 43));
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        gap: 0px;
        .btn-blue{
            border-radius: 0px;
            border-bottom: none;
            border-left: none;
            border-right: none;
            
            &:hover {
                transform: none;
            }
        }
    }
    
    @include main.small_screen {
        #gameover-main-message{
            font-size: 40px;
            margin-top: 40px;
            .badge-icon {
                width: 18px;
                margin-bottom: -3px;
                margin-left: 3px;
            }
            #gameover-eliminator{
                font-size: 20px;
            }
        }
        #gameover-buttons{
            .btn-blue{
                font-size: 17px;
            }
        }
    }
}
#gameover-you-dead {
    position: absolute;
    display: block;
    font-family: "Russo-One", sans-serif;
    font-size: 300px;
    color: red;
    animation: YouDieAnim 3s ease-in-out infinite;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    white-space: nowrap;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}
@keyframes YouDieAnim {
    0% {
        transform: translate(-50%, -52%) rotate(20deg) scale(1.2);
    }
    10% {
        transform: translate(-48%, -48%) rotate(-20deg) scale(0.9);
    }
    20% {
        transform: translate(-52%, -54%) rotate(25deg) scale(1.3);
    }
    30% {
        transform: translate(-50%, -50%) rotate(-25deg) scale(0.8);
    }
    40% {
        transform: translate(-49%, -51%) rotate(15deg) scale(1.2);
    }
    50% {
        transform: translate(-51%, -49%) rotate(-15deg) scale(0.9);
    }
    60% {
        transform: translate(-50%, -50%) rotate(10deg) scale(1.1);
    }
    70% {
        transform: translate(-50%, -50%) rotate(-10deg) scale(0.95);
    }
    80% {
        transform: translate(-50%, -50%) rotate(5deg) scale(1.05);
    }
    90% {
        opacity: 100%;
        transform: translate(-50%, -50%) rotate(-5deg) scale(1);
    }
    100% {
        opacity: 0%;
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
}
