@use "common/engine/main.scss";
@use "../fonts.scss";
.item-maximized{
    color:var(--ui-theme-special)
}
#ui-items{
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;

    display: flex;
    flex-direction: row;
    gap: 10px;

    @include main.medium_screen {
        bottom: 85px;
        gap: 7px;
        .inventory-item-slot{
            width: 40px;
            height: 40px;
            .slot-count{
                font-size: 10px;
            }
            .slot-number{
                font-size: 7px;
            }
            .slot-image {
                width: 20px;
                height: 20px;
            }
        }
    }
    @include main.small_screen {
        bottom: 65px;
        gap: 5px;
        .inventory-item-slot{
            width: 23px;
            height: 23px;
            .slot-count{
                font-size: 6px;
            }
            .slot-number{
                font-size: 4px;
            }
            .slot-image {
                width: 20px;
                height: 20px;
            }
        }
    }
}
.inventory-item-slot {
    position: relative;
    background-color: color-mix(in srgb,var(--ui-theme-secondary) 40%, #0000);
    box-shadow: 0 0 3px var(--ui-theme-primary);
    width: 70px;
    height: 70px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: all;

    font-family: "Russo-One", serif;

    .slot-image {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        object-fit: contain;
        pointer-events: none;
    }

    .slot-count {
        position: absolute;
        bottom: 2px;
        right: 4px;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 0 2px #000;
    }

    .slot-number {
        position: absolute;
        top: 2px;
        left: 4px;
        font-size: 12px;
        color: #fff9;
        color: var(--ui-theme-primary)
    }
    @include main.medium_screen {
        width: 55px;
        height: 55px;
        .slot-count{
            font-size: 9px;
        }
        .slot-number{
            font-size: 8px;
        }
        .slot-image {
            width: 13px;
            height: 13px;
        }
    }
    @include main.small_screen {
        width: 30px;
        height: 30px;
        .slot-count{
            font-size: 6px;
        }
        .slot-number{
            font-size: 4px;
        }
        .slot-image {
            width: 13px;
            height: 13px;
        }
    }
}
.weapon-slot-selected{
    border: 2px solid var(--ui-theme-primary);
}
#ui-weapons{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 40%;

    .weapon-slot{
        pointer-events: all;
        display: block;
        position: relative;
        width: 300px;
        height: 110px;
        border-radius: 4px;
        font-size: 20px;
        font-family: "Russo-One", serif;
        background: color-mix(in srgb,var(--ui-theme-secondary) 30%, #0000);
        box-shadow: 0 0 3px var(--ui-theme-primary);
        .weapon-slot-number {
            position: relative;
            top: 5px;
            left: 93%;
            color: var(--ui-theme-primary);
        }
        .weapon-slot-name {
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: #fff;
        }
        .weapon-slot-image {
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 5px;
            object-fit: contain;

            width: auto;
            height: auto;

            min-width: 150px;
            max-width: 250px;
            max-height: 75px;

            transform: translateY(-50%) rotate(-10deg);
        }
    }
    @include main.medium_screen {
        gap: 5px;
        .weapon-slot{
            height: 70px;
            font-size: 10px;
            box-shadow: 0 0 3px var(--ui-theme-primary);
            .weapon-slot-image{
                min-width: 40px;
                max-width: 90px;
                max-height: 60px;
            }
            .weapon-slot-number{
                left:86%;
            }
            .weapon-slot-name{
                bottom: 3px;
                right: 3px;
            }
        }
    }
    @include main.small_screen {
        gap: 5px;
        .weapon-slot{
            height: 50px;
            font-size: 7px;
            .weapon-slot-image{
                min-width: 75px;
                max-width: 80px;
                max-height: 35px;
            }
            .weapon-slot-number{
                left:86%;
            }
            .weapon-slot-name{
                bottom: 3px;
                right: 3px;
            }
        }
    }
}
#ui-iitems{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:5px;
    width: fit-content;
    height: fit-content;
    top:10px;
    left:50%;
    transform: translateX(-50%);
    .scope-slot{
        display: flex;
        border-radius: 4px;
        background-color: color-mix(in srgb,var(--ui-theme-secondary) 30%, #0000);
        width: fit-content;
        height: fit-content;
        box-shadow: 0 0 3px var(--ui-theme-primary);
        .icon{
            padding: 5px;
            width: 40px;
            height: 40px;
        }
    }
    .scope-slot-selected{
        border: 2px solid var(--ui-theme-primary);
        .icon{
            padding: 7px;
            width: 50px;
            height: 50px;
        }
    }
    @include main.medium_screen{
        .scope-slot{
            .icon{
                padding: 7px;
                width: 20px;
                height: 20px;
            }
        }
        .scope-slot-selected{
            .icon{
                padding: 8px;
                width: 30px;
                height: 30px;
            }
        }
    }
    @include main.small_screen{
        .scope-slot{
            .icon{
                padding: 5px;
                width: 15px;
                height: 15px;
            }
        }
        .scope-slot-selected{
            .icon{
                padding: 7px;
                width: 22px;
                height: 22px;
            }
        }
    }
}
#ui-aitems{
    display: grid;
    grid-template-columns: repeat(auto, 5);
    gap: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    justify-items: end;
    pointer-events: none;
    .aitem-slot{
        background: color-mix(in srgb,var(--ui-theme-secondary) 40%, #0000);
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        pointer-events: auto;
        .count {
            font-family: "Russo-One", sans-serif;
            text-align: center;
            font-size: 15px;
            text-anchor: middle;
        }
        .icon{
            width: 30px;
            height: 30px;
            margin: auto;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }
        box-shadow: 0 0 3px var(--ui-theme-primary);
    }
    .aitem-slot:hover{
        border: 2px solid var(--ui-theme-primary);
    }
    @include main.medium_screen{
        .aitem-slot{
            .count{
                font-size: 12px;
            }
            .icon{
                width: 20px;
                height: 20px;
            }
        }
        left: 2px;
    }
    @include main.small_screen{
        .aitem-slot{
            .count{
                font-size: 10px;
            }
            .icon{
                width: 12px;
                height: 12px;
            }
        }
        left: 3px;
    }
}
#ui-equipment{
    position: absolute;
    right: 10px;
    bottom: 10px;
    .equipment-fixed {
        display: flex;
        gap: 10px;
    }
    .equipment-accessories {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .equipment-slot {
        background: color-mix(in srgb,var(--ui-theme-secondary) 30%, #0000);
        box-shadow: 0 0 3px var(--ui-theme-primary);
        width: 70px;
        height: 70px;
        position: relative;
        border-radius: 4px;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
        span {
            text-align: center;
            position: absolute;
            top: -30px;
        }
    }
    .equipment-slot.empty {
        opacity: 0.5;
    }
    .slot-label {
        position: absolute;
        font-size: 10px;
        bottom: 2px;
        left: 2px;
        color: #aaa;
    }
    @include main.medium_screen {
        right: 7px;
        bottom: 7px;
        .equipment-fixed {
            gap: 7px;
        }
        .equipment-slot {
            width: 50px;
            height: 50px;
        }
    }
    @include main.small_screen {
        right: 5px;
        bottom: 5px;
        .equipment-fixed {
            gap: 5px;
        }
        .equipment-slot {
            width: 35px;
            height: 35px;
        }
    }
}