@use "common/engine/main.scss";
@use "../fonts.scss";
@use "../components/text.scss";
.item-maximized{
    color:var(--ui-theme-special)
}
#ui-items{
    width: max-content;

    display: flex;
    flex-direction: row;
    gap: 0.4vw;
}
.inventory-item-slot {
    position: relative;

    background-color: var(--ui-panel-background);
    box-shadow: var(--ui-panel-box-shadow);

    font-family: "Russo-One", serif;

    width: 3.5vw;
    height: 3.5vw;
    border-radius: var(--ui-panel-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: all;

    .slot-image {
        width: 60%;
        height: 60%;
        object-fit: contain;
        pointer-events: none;
    }
    .slot-count {
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: 0.8vw;
        text-shadow: 0 0 2px #000;
    }
    .slot-number {
        position: absolute;
        top: 3%;
        left: 4%;
        font-size: 0.7vw;
        color: var(--ui-theme-primary);
    }
}
#ui-weapons{
    display: flex;
    flex-direction: row;
    gap: 0.4vw;
    width: 40vw;
    font-size: 0.9vw;

    .weapon-slot{
        pointer-events: all;
        display: block;
        position: relative;
        border-radius: var(--ui-panel-border-radius);
        font-family: "Russo-One", serif;
        width: 33%;
        height: 10vh;

        background: var(--ui-panel-background);
        box-shadow: var(--ui-panel-box-shadow);
        .weapon-slot-number {
            position: absolute;
            top: 2%;
            left: 2%;
            color: var(--ui-theme-primary);
        }
        .weapon-slot-name {
            position: absolute;
            bottom: 2%;
            right: 2%;
            color: var(--ui-theme-tertiary);
        }
        .weapon-slot-image {
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 2%;
            object-fit: contain;

            width: auto;
            height: auto;

            min-width: 90%;
            max-width: 100%;
            min-height: 10%;
            max-height: 90%;

            transform: translateY(-50%) rotate(-7deg);
        }
        &.weapon-slot-selected{
            border:var(--ui-panel-border);
        }
    }
}
#ui-iitems{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:0.3vw;
    top:0.5vh;
    left:50%;
    transform: translateX(-50%);
    .scope-slot{
        display: flex;
        border-radius: var(--ui-panel-border-radius);
        background: var(--ui-panel-background);
        box-shadow: var(--ui-panel-box-shadow);
        width: fit-content;
        height: fit-content;
        .icon{
            padding: 0.5vh;
            width: 2vw;
            height: 2vw;
        }
    }
    .scope-slot-selected{
        border:var(--ui-panel-border);
        .icon{
            width: 2.5vw;
            height: 2.5vw;
        }
    }
}
#ui-aitems{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap-reverse;
    max-height: 20vh;
    gap: 0.75vh;
    position: absolute;
    right: 0.5vh;
    top: 65%;
    transform: translate(0%, -50%);
    justify-items: end;
    pointer-events: none;
    .aitem-slot {
        color: var(--ui-theme-tertiary);
        background: var(--ui-panel-background);
        box-shadow: var(--ui-panel-box-shadow);
        border-radius: var(--ui-panel-border-radius);

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        width: 3.5vw;
        height: 3vh;
        gap: 2vh;

        padding: 0 1vh;

        pointer-events: auto;

        .count {
            font-family: "Russo-One", sans-serif;
            font-size: 1.4vh;

            flex: 0;
            text-align: left;
        }
        .icon {
            flex:0;
            width: 70%;
            height: 70%;

            object-fit: contain;
        }
    }
    .aitem-slot:hover{
        border:var(--ui-panel-border);
    }
}
#ui-equipment{
    position: absolute;
    right: 0.5vh;
    bottom: 0.5vh;
    font-size: 0.75vw;
    color: var(--ui-theme-tertiary);
    .equipment-fixed {
        display: flex;
        gap: 10px;
    }
    .equipment-accessories {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .equipment-slot {
        background: var(--ui-panel-background);
        box-shadow: var(--ui-panel-box-shadow);
        border-radius: var(--ui-panel-border-radius);

        width: 4vw;
        height: 4vw;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 75%;
            height: 75%;
            object-fit: contain;
        }
        span {
            position: absolute;
            top: -5%;
            transform: translateY(-100%);
        }
    }
    .equipment-slot.empty {
        opacity: 0.5;
    }
    .slot-label {
        position: absolute;
    }
}
#item-tooltip{
    @extend .span-text-base;

    opacity:0;
    pointer-events:none;
    position:fixed;

    width:20vw;

    padding:1vh;
    
    border-radius: var(--ui-panel-border-radius);
    color: var(--ui-theme-tertiary);
    background: var(--ui-panel-background);
    box-shadow: var(--ui-panel-box-shadow);

    transition:opacity .15s;
    transform: translate(-100%,-100%);

    #item-tooltip-title{
        font-weight:bold;
        margin-bottom:2%;
        font-size:2vh;
    }
    #item-tooltip-description{
        font-size:1.5vh;

        white-space:pre-wrap;
        overflow-wrap:break-word;
        word-break:break-word;

        line-height:1.35;
    }
    &.tooltip-visible{
        opacity:1;
    }
}
