@use "common/engine/main.scss";
#right-joystick,
#left-joystick{
    position: absolute;
    top: 67vh;
    width: 16vw;
    height: 16vw;
    transform: translate(-50%,-50%);
    background: var(--ui-panel-background);
    box-shadow: var(--ui-panel-box-shadow);
    .knob{
        width: 30%;
        height: 30%;
        opacity: 0.8;
        background-color: var(--ui-theme-primary);
    }
}
#left-joystick{
    left: 15%;
}
#right-joystick{
    left: 65%;
}
#mobile-action-buttons{
    button{
        position: absolute;
        width: 10vh;
        height: 10vh;
        border-radius: 100%;
        color: var(--ui-theme-primary);
        background: var(--ui-panel-background);
        box-shadow: var(--ui-panel-box-shadow);
        border: none;
        outline: none;
        font-size: 8vh;
        font-family: "Russo-One";
        svg{
            position: absolute;
            width: 70%;
            opacity: 0.8;
            transform: translate(-50%,-50%);
        }
        &:active{
            transform: translateY(-5%);
            border:var(--ui-panel-border);
        }
    }
    #btn-mobile-interact{
        left:60%;
        top:30%;
    }
    #btn-mobile-reload{
        left:70vw;
        top: 40vh;
    }
    #btn-mobile-emotes{
        left:71vw;
        bottom: 0.75vh;
    }
    #btn-mobile-toggle-map{
        left:20vw;
        top: 10vh;
    }
}