@use "common/engine/main.scss" as main;
.btn-base {
    border-radius: 5px;
    font-family: "Russo-One";
    transition: 0.25s ease;
    cursor: pointer;

    padding: 8px 18px;
    font-size: 30px;

    border: 2px solid var(--item-border);
    background: var(--item-bg);
    color: white;

    &:hover {
        background: var(--item-bg-hover);
        border-color: var(--item-border-hover);
        box-shadow: 0 0 20px var(--item-border-hover);
    }

    &:active {
        transform: translateY(1px);
    }

    @include main.large_screen {
        font-size: 23px;
        padding: 6px 15px;
    }
    @include main.medium_screen {
        font-size: 18px;
        padding: 5px 12px;
    }
    @include main.small_screen {
        font-size: 14px;
        padding: 4px 10px;
    }
    @include main.tiny_screen {
        font-size: 10px;
        padding: 3px 7px;
    }
}
.btn-blue {
    @extend .btn-base;

    --item-bg: linear-gradient(135deg, #07aaee30 0%, #07aaee44 100%);
    --item-bg-hover: linear-gradient(135deg, #07aaee44 0%, #07aaee5f 100%);

    --item-border: #07aaeeaa;
    --item-border-hover: #07aaeeaa;
}
.btn-green {
    @extend .btn-base;

    --item-bg: linear-gradient(135deg, #00aa7730 0%, #00aa7744 100%);
    --item-bg-hover: linear-gradient(135deg, #00aa7744 0%, #00aa775f 100%);

    --item-border: #00aa77aa;
    --item-border-hover: #00aa77aa;
}
.btn-red {
    @extend .btn-base;

    --item-bg: linear-gradient(135deg, #b01c4166 0%, #75042b66 100%);
    --item-bg-hover: linear-gradient(135deg, #bd2a4e66 0%, #a3124466 100%);

    --item-border: #40041eaa;
    --item-border-hover: #40041eaa;
}