.span-text-base{
    font-family: "Russo-One","Inter", sans-serif;
    color: #ffffff;
}
.span-text{
    @extend .span-text-base;
    font-size:18px;
    pointer-events: none;
    user-select: none;
}