@use "common/engine/main.scss";
@keyframes text-normal-float {
    0%{
        transform: translate(-5%,-5%) rotate(-1deg);
    }
    100%{
        transform: translate(5%,5%) rotate(1deg);
    }
}
.span-text-base{
    font-family: "Russo-One","Inter", sans-serif;
}
.span-text{
    @extend .span-text-base;
    font-size:18px;
    pointer-events: none;
    user-select: none;
    color: #ffffff;
    
    @include main.medium_screen {
        font-size:13px;
    }
    @include main.small_screen {
        font-size: 9px;
    }
}