@use "common/engine/main.scss";
kl-md-submenu{
    display: flex;
    gap: 50px; /*Default*/
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    @include main.large_screen {
        gap: 40px;
    }
    @include main.medium_screen {
        gap: 30px;
    }
    @include main.small_screen {
        gap: 20px;
    }
    @include main.tiny_screen {
        gap: 10px;
    }
}
kl-md-submenu-options {
    display: flex;
    flex-direction: column;
    align-self: center;
}

kl-md-submenu-options button,
kl-md-submenu-options select {
    width: 300px;
    margin-top:-2px;

    @include main.large_screen {
        width: 260px;
    }
    @include main.medium_screen {
        width: 220px;
    }
    @include main.small_screen {
        width: 160px;
    }
    @include main.tiny_screen {
        width: 130px;
    }
}

kl-md-extra {
    position: relative;
    transition: opacity 2s linear;
    h1{
        text-align: center;
        font-size: 3vw;
    }
}
.emote-wheel{
    position: absolute;
    transform: translate(-50%, -50%);
    background: url("./assets/img/menu/gui/emote_wheel.svg");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    .wheel-hover{
        position: absolute;
        transform: translate(-50%,-50%);
        pointer-events: none;
    }
    .emote-wheel-part{
        position: absolute;
        transform: translate(-50%,-50%);
    }
    .wheel-part-top{
        top: 20%;
        left: 50%;
    }
    .wheel-part-bottom{
        bottom: 0%;
        left: 50%;
    }
    .wheel-part-left {
        top: 50%;
        left: 20%;
    }
    .wheel-part-right {
        top: 50%;
        right: 0%;
    }

    .wheel-hover-top{
        left: -11%;
        top: 12%;
        rotate: 90deg;
    }
    .wheel-hover-bottom{
        rotate: -90deg;
        top: 16%;
        left: 61.5%;
    }
    .wheel-hover-left {
        top: 50%;
        left: 23%;
        rotate: 0deg;
    }
    .wheel-hover-right {
        top: -22.5%;
        left: 28%;
        rotate: 180deg;
    }
    .wheel-hover-center {
        top: 50%;
        left: 50%;
    }
}
