@use "common/engine/main.scss";
@use "./md.scss";
@use "./components/text.scss" as text;
@use "./components/button.scss";
#menu {
    /*background-image: url("/assets/img/menu/background/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    user-select: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%);
        pointer-events: none;
    }
}
#both-ui{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#initial-screen{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 102;
    pointer-events: all;
    opacity: 1;
    transition: ease 1s opacity;
    background-color: #000;
    video{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
    }
}
#loading-screen {
    @extend .span-text-base;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 101;
    transition: opacity 2s ease-in-out;
    pointer-events: all;
    user-select: none;

    #loading-screen-logo-container {
        display: flex;
        align-items: center;
        padding: 16px;
        perspective: 5000px;
        transform-style: preserve-3d;
        font-size: 2vw;

        #loading-screen-logo {
            width: 10vw;
            height: 10vw;
            background-image: url("/assets/img/menu/logos/MD/MD.svg");
            background-size: cover;
            background-position: center;

            animation: rotating 0.7s infinite alternate linear;
        }
    }

    .loading-background {
        position: absolute;

        background: rgba(0,0,0,.35);
        padding: 0.5vw;

        max-width: 80%;
        font-size: 1vw;
    }

    #loading-hint {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #loading-current {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
    }
    #loading-minigame{
        position:absolute;
        inset:0;
        pointer-events:auto;
        #loading-target{
            position: absolute;
            width: 6vw;
            height: 6vw;
            background-image: url("/assets/img/menu/logos/MD/MD.svg");
            background-size: cover;
            background-position: center;
            transition: left 0.9s linear, top 0.9s linear;
        }
    }
}

@keyframes rotating {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(90deg);
    }
}
#account-status{
    position: relative;
    left: 98%;
    top: 0.5%;
    transform: translate(-100%);
    width: fit-content;
    height: fit-content;
    text-align: center;
    flex-direction: column;
    display: flex;
    *{
        margin-left: 20px;
        margin-right: 20px;
    }
}
#history-overlay{
    z-index: 103;
    pointer-events: all;
    cursor: none;
}
#title-section {
    width: 50vw;

    user-select: none;
    margin-bottom: 7vh;
    animation: TitleAnimation 60s infinite ease-in-out alternate;
}
@keyframes TitleAnimation {
    0% { transform:rotate(-2deg) scale(100%); }
    33% { transform:rotate(2deg) scale(108%); }
    66% { transform:rotate(2deg) scale(100%); }
    100% { transform:rotate(-2deg) scale(108%); }
}
#menu-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    gap:0.5vh;
    width: fit-content;
    height: fit-content;
    align-items: center;
    opacity: 0;
    transition: opacity 2s linear;
    button{
        width: 20vw;
    }
}
.md-menu-game{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    transition: opacity 2s linear;
    .close-btn{
        height: fit-content;
        width: fit-content;
        padding: 0.5vw 1.8vh;
        border-radius: 0.3vw;
        font-size: 2vw;
    }
    .tab-title{
        position: fixed;
        text-shadow: 0.4vh 0.4vh #077eee77;
        font-size: 5vw;
        left: 50%;
        top: 1vw;
        transform: translateX(-50%);
    }
    kl-md-submenu-content{
        gap:5vw;
    }
    kl-md-menu-options{
        button,select{
            border-radius: 0px;
            width: 3vw;
            padding-left: 3px;
            text-align: left;
        }
    }
}
.social-links {
    display: flex;
    gap: 20px;
    padding: 15px;

    .social-link {
        @extend .btn-blue;
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
    .social-icon {
        width: 80%;
        height: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        &.discord {
            background-image: url("/assets/img/menu/socials/discord-icon.svg");
        }
        &.youtube {
            background-image: url("/assets/img/menu/socials/youtube-icon.svg");
        }
        &.github {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
        }

        &.windows {
            background-image: url("/assets/img/menu/socials/windows-icon.svg");
        }
        &.linux {
            background-image: url("/assets/img/menu/socials/linux-icon.svg");
        }
    }
    
    @include main.large_screen {
        gap: 12px;
        padding: 16px;
        .social-link {
            width: 33px;
            height: 33px;
        }
        .social-icon {
            width: 20px;
            height: 20px;
            font-size: 5px;
        }
    }
    @include main.medium_screen {
        gap: 10px;
        padding: 7px;
        .social-link {
            width: 26px;
            height: 26px;
        }
        .social-icon {
            width: 16px;
            height: 16px;
            font-size: 5px;
        }
    }
}
#game-version{
    position: absolute;
    color: #fff;
    right: 1vh;
    top: 1vh;
    font-size: 3vh;
    margin: 0;
}
#main-social{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0004;
    border-radius: 0 0.5vw 0 0;
    pointer-events: all;
}
#about-sm-social{
    align-content: center;
}
#featured-content-creators{
    display: flex;
    background-color: #0004;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1vw;
    border-radius: 0 0 0.5vw 0;
    pointer-events: all;
    span{
        font-size: 1vw;
        margin-bottom: 1vw;
    }
    .content-creator{
        text-align: center;
        margin-top: -0.2vw;
        align-items: center;
        background-image: url("/assets/img/menu/socials/youtube-icon.svg");
        background-repeat: no-repeat;
        background-position: 5% 50%;
        background-size: 17%;
    }
}
.background-menu-md{
    display: flex;
    flex-direction: column;
    gap:2vh;
    width: 30vw;
    height: 30vw;
    overflow-y: scroll;
    padding: 2vw;
}
.updates-section {
    overflow-y: scroll;
    padding: 25px;
    z-index: 1;

    h2 {
        color: #fff;
        font-family: "Russo-One";
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .update-item {
        margin-bottom: 15px;
        padding: 15px;
        background: rgba(7, 170, 238, 0.1);
        border-radius: 8px;
        
        h3 {
            color: #fff;
            font-size: 18px;
            margin-bottom: 8px;
        }
        p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            line-height: 1.4;
            margin: 5px 0;
        }
    }
    @include main.small_screen {
        padding: 12px;
        h2 {
            font-size: 12px;
        }
        .update-item {
            margin-bottom: 7px;
            padding: 7px;
            border-radius: 4px;
            h3 {
                font-size: 9px;
                margin-bottom: 4px;
            }
            p {
                font-size: 8px;
                margin: 2px 0;
            }
        }
    }
}
.gamemode-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-size: 300px 300px;
    align-self: center;
    @include main.small_screen {
        background-size: 180px 180px;
        width: 180px;
        height: 180px;
    }
}

#tiltshift-gfx {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

#tiltshift-gfx::after {
    content: "";
    position: absolute;
    inset: 0;

    backdrop-filter: blur(5px) saturate(1.1) contrast(1.1);

    mask-image: radial-gradient(circle at top left, #fff 0%, transparent 60%),
                radial-gradient(circle at top right, #fff 0%, transparent 60%),
                radial-gradient(circle at bottom left, #fff 0%, transparent 60%),
                radial-gradient(circle at bottom right, #fff 0%, transparent 60%);
    mask-repeat: no-repeat;
    mask-position: top left, top right, bottom left, bottom right;
    mask-size: 50% 50%;

    -webkit-mask-image: radial-gradient(circle at top left, #fff 0%, transparent 60%),
                        radial-gradient(circle at top right, #fff 0%, transparent 60%),
                        radial-gradient(circle at bottom left, #fff 0%, transparent 60%),
                        radial-gradient(circle at bottom right, #fff 0%, transparent 60%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top left, top right, bottom left, bottom right;
    -webkit-mask-size: 50% 50%;
}
#vignetting-gfx {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("/assets/img/menu/background/vignetting.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mod-root{
    h1{
        text-align: center;
    }
    padding: 20px;
}

#text-gameover-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: black;
    overflow: hidden;

    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 104;

    transition: opacity 1s ease-in-out;

    .tv-static{
        z-index:2;
        filter: brightness(0.25) contrast(1) sepia(1) hue-rotate(70deg) saturate(10);
    }

    cursor: none;
    #text-gameover{
        @extend .span-text-base;
        color:#47b984cc;

        font-size:clamp(10px, 10vw, 120px);

        max-width:50vw;
        text-align:center;
        word-break:break-word;

        text-shadow:
            0 0 10px #27b34a65,
            0 0 25px #27b34a6b;

        z-index:3;

        animation:
            text-gameover-rotate alternate 15s ease-in-out infinite,
            text-gameover-scale 3s alternate ease-in-out infinite,
            text-gameover-translate 20s alternate ease-in-out infinite;
    }
    pointer-events: all;
    @include main.medium_screen {
        #text-gameover{
            font-size:clamp(7px, 7vw, 100px);
        }
    }
    @include main.small_screen {
        #text-gameover{
            font-size:clamp(5px, 5vw, 50px);
        }
    }
}

.tv-static{
    position:absolute;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    opacity:0.2;
    &::before{
        content:"";
        position:absolute;

        width:500%;
        height:500%;
        left:-250%;
        top:-250%;

        background-image:url("/assets/img/menu/background/white_noise.png");
        background-size:10000px 1000px;
        background-repeat:repeat;

        animation:tvNoise 0.25s steps(6) infinite;
    }
    @include main.medium_screen {
        background-size:6000px 600px;
    }
    @include main.small_screen {
        background-size:5000px 500px;
    }
}
@keyframes tvNoise{
    0%  {transform:translate(0,0) rotate(-20deg) scale(1)}
    10% {transform:translate(-5%,5%)}
    20% {transform:translate(-10%,0)}
    30% {transform:translate(5%,-5%)}
    40% {transform:translate(-5%,10%)}
    50% {transform:translate(-10%,5%) rotate(20deg) scale(1.1)}
    60% {transform:translate(5%,0)}
    70% {transform:translate(0,5%)}
    80% {transform:translate(3%,0)}
    90% {transform:translate(-5%,5%)}
    100%{transform:translate(0,0) rotate(-20deg) scale(1)}
}
@keyframes text-gameover-translate{
    0%   { transform:translate(-10px,-3px); }
    10%  { transform:translate(7px,5px); }
    20%  { transform:translate(-9px,2px); }
    30%  { transform:translate(11px,-4px); }
    40%  { transform:translate(-5px,7px); }
    50%  { transform:translate(9px,-8px); }
    60%  { transform:translate(-11px,4px); }
    70%  { transform:translate(5px,-6px); }
    80%  { transform:translate(-8px,9px); }
    90%  { transform:translate(10px,-2px); }
    100% { transform:translate(-11px,3px); }
}
@keyframes text-gameover-rotate{
    0%   { rotate:5deg }
    40%  { rotate:0deg }
    60%  { rotate:0deg }
    100% { rotate:-5deg }
}
@keyframes text-gameover-scale{
    0%   { scale:0.95 }
    100%  { scale:1.05 }
}
.game-popup-overlay{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition:opacity .2s;
    z-index:102;
}

.game-popup{
    padding:20px;
    min-width:300px;
    max-width:600px;
}

@keyframes glitchText {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(-2px, 1px); }
    40% { transform: translate(2px, -1px); }
    60% { transform: translate(-1px, 2px); }
    80% { transform: translate(1px, -2px); }
    100% { transform: translate(0px, 0px); }
}
.background-menu-tt{
    padding: 20px;
    font-family: "Russo-One";
    @include main.medium_screen {
        padding: 10px;
    }
    @include main.small_screen {
        padding: 15px;
    }
}
#final-screen{
    @extend .span-text-base;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    user-select: none;
    transition: opacity 1s ease;
    z-index: 11;
    .final-score{
        transition: opacity ease-in-out 0.2s;
    }
    .final-screen-layer-image{
        position: absolute;
        background-size: cover;
    }
    .score-float{
        position:absolute;

        left:20px;
        bottom:10px;

        color:#fff;

        font-size:100px;
        font-style: italic;

        animation: text-normal-float 1s alternate ease-in-out infinite;
    }
    .score-ap{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        left: 20px;
        bottom: 70px;
        max-height: 600px;
        min-height: 600px;
        .score-row{
            font-size: 30px;
            transition: font-size ease-in-out 0.2s, opacity ease-in-out 0.2s;
            opacity: 1;
        }
        .last{
            font-size: 0px;
            opacity: 0;
        }
        font-style: italic;
    }
    .final-leaderboard{
        border-left:4px solid #ffffff22;
        background:#0004;
        display:flex;
        flex-direction:column;
        gap:20px;

        position:absolute;

        width: 800px;
        height: 700px;
        padding: 50px;
        left:50%;
        top:50%;

        transform:translate(-50%,-50%);

        transition: opacity ease-in-out 0.2s;
        overflow-x: hidden;
        overflow-y: scroll;
        .leaderboards-players{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .leaderboard-row{
        display:flex;
        align-items:center;
        gap:20px;
        min-width:500px;
        padding:12px 20px;
        background:#0004;
        border-left:4px solid #fff2;
        transition:
            transform .2s ease,
            opacity .2s ease,
            font-size .2s ease,
            background .2s ease;
        .place{
            width:70px;
            border-right: 2px solid #fff2;
        }
        .name{
            flex:1;
            border-right: 2px solid #fff2;
        }
        .status{
            font-size:1.2em;
            width: 70px;
            border-right: 2px solid #fff2;
        }
        .badge-icon {
            width: 20px;
            margin-bottom: -3px;
            margin-left: 3px;
        }
    }
    .leaderboard-row.hidden{
        opacity:0;
        transform:translateX(-80px);
    }
    .leaderboard-row.current{
        transform:translateX(20px);
        background:#ffffff10;
        border-left-color:var(--fs-accent);
    }
    .leaderboard-row.winner{
        border-left-color:var(--ui-theme-special);
    }
    .leaderboard-row.leaderboard-header{
        border-left-color:var(--fs-accent);
    }
}

.character-selector-screen{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding: 10px;
    .character-main{
        width:100%;
        flex:1;

        display:flex;
        flex-direction:column;
        align-items:center;
        padding: 10px;

        text-align:center;
    }
    .character-name{
        font-size:42px;
        font-family:"Russo-One";
    }
    .character-image-wrapper{
        flex:1;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .character-icon{
        max-width:350px;
        max-height:420px;
        filter:
            drop-shadow(0 0 20px rgba(255,255,255,.1))
            drop-shadow(0 0 40px rgba(0,0,0,.6));
    }
    .character-description{
        max-width:650px;

        font-size:18px;
        line-height:1.6;

        opacity:.85;
    }
    .character-selector-list{
        margin-top: 20px;
        display:flex;
        gap:15px;
        justify-content:center;
    }
    .character-card{
        width:90px;
        height:90px;
        cursor:pointer;
        border:2px solid transparent;
        transition:.15s;
        background:rgba(255,255,255,.03);
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        &:hover{
            transform:translateY(-4px);
            border-color:rgba(255,255,255,.2);
        }
        &.selected{
            border-color:var(--ui-theme-primary);
            box-shadow:
                0 0 10px var(--ui-theme-primary),
                0 0 30px rgba(0,0,0,.4);
        }
    }
}
.loadout-icons-group{
    display:flex;
    flex-wrap:wrap;
    gap:0.5vw;
    width:100%;

    .litem{
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:flex-start;

        width:5.7vw;
        height:5.7vw;
        padding:0.5vw;

        font-size: 1vw;

        cursor:pointer;
        overflow:hidden;

        background:linear-gradient(
            135deg,
            #07aaee44 0%,
            #07aaee66 100%
        );

        .name{
            @extend .span-text-base;
            z-index:2;
            pointer-events:none;
            text-align:center;
        }

        .icon{
            position:absolute;
            left:50%;
            top:58%;
            transform:translate(-50%,-50%);
            width:60%;
            height:60%;
            object-fit:contain;
            pointer-events:none;
        }

        &.selected{
            border:0.13vw solid #07aaeeaa;
            box-shadow:0 0 2vw #07aaeeaa;
        }
    }
}